$monospace-font: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;

.submit .aux-buttons {
	float: right;
	display: block;
}

textarea {
	font-family: $monospace-font !important;
}

select,
input {
	margin-top: -.1em;
}

#typo_configuration\[smart_quotes_primary\],
#typo_configuration\[smart_quotes_secondary\] {
	font-family: $monospace-font;
}

input[type=number] {
  width: 5em;
}
