# tmp files
*~

# Eclipse
.project
.settings/*

# Node.js/Grunt
node_modules/*

# build dir
build/*

# SASS
.sass-cache/*

# ignore generated code coverage files
tests/coverage/*

# ignore dummy PHP file for language names
php-typography/_language_names.php

# macOS Finder
.DS_Store
