<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutCoversAnnotation="true" stopOnRisky="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">includes</directory>
    </include>
    <exclude>
      <file>includes/_language_names.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="wp-Typography">
      <directory suffix="-test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="2G"/>
  </php>
</phpunit>
