/*
 * Styled sub- and superscripts.
 */
sub, sup {
  font-size: 75%;
  line-height: 100%;
}

sup {
  vertical-align: 60%;
}

sub {
  vertical-align: -10%;
}

/*
 * Styled ampersands.
 */
.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", "Warnock Pro", serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
  line-height: 1em;
}

/*
 * Words in caps.
 */
.caps {
  font-size: 90%;
}

/*
 * Styled initial quotes.
 */
.dquo {
  margin-left: -0.4em;
}

.quo {
  margin-left: -0.2em;
}

/*
 * Hanging punctuation.
 */
.pull-single {
  margin-left: -0.15em;
}

.push-single {
  margin-right: 0.15em;
}

.pull-double {
  margin-left: -0.38em;
}

.push-double {
  margin-right: 0.38em;
}

/*
 * Because formatting .numbers should consider your current font settings, we will not do it here.
 */