.submit .aux-buttons {
  float: right;
  display: block;
}

textarea {
  font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace !important;
}

select,
input {
  margin-top: -.1em;
}

input[type=number] {
  width: 5em;
}
